# Specific files and folders

semester3/javp/

semester3/Java_Project/

semester2/cpp_unthan.zip

semester3/compnet/aufgabe44.c

# auto generated folders & files

.vscode/

__pycache__/


# File Formats

*.py[cod]
*.pyo
*.pyd

*.exe

*.docx

*.ser
