# auto generated folders & files

.venv/

.vscode/

__pycache__/


# File Formats

*.class

*.py[cod]

*.exe

*.docx

*.ser

# Specific files and folders

semester4/ai/ex7_computer_vision/Exercise_7.pdf

semester3/opsys/unfall

semester3/databases/startserver.bat

semester3/javp/

semester3/Java_Project/

semester2/cpp_unthan.zip

semester3/compnet/aufgabe44.c

semester2/algdat_schaefer/uebungen_pdfs

semester2/algdat_schaefer/Python-algorithms

semester4/swe_d/ex3/seq_dia_ex3.PNG

semester4/ai/ex6_neural_networks/.venv/

semester4/ai/ex8_convolutional_networks/data-dogs-vs-cats/

semester4/ai/ex8_convolutional_networks/PetImages/


# tomcat bs
semester4/ds/ex6/apache-tomcat-11.0.22/*

!semester4/ds/ex6/apache-tomcat-11.0.22/webapps/a6/
#

semester4/it_sec/itsecurityca/





