p {
    color: black;
    font-family: "Jet Brains Mono Regular";
    font-size: 16px;
} 

h1 {
    color: black;
    font-family: "Jet Brains Mono Regular";
    font-size: 32px;
    text-align: center;
    margin-top: 5%;

    /* A line under the heading */
    border-bottom: 2px solid #000;
    padding-bottom: 10px;
}

h2  {
    font-family: "Jet Brains Mono Regular";
    font-size: 20px;
}

.travelbox {
    color: #fff;
    background-color: #2e2e2e;
    font-family: "Jet Brains Mono Regular";
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

.warning {
    color: red;
    font-family: "Jet Brains Mono Regular";
    font-size: 16px;

    margin-top: 20px;
}

.croomsize {
    color: black;
    font-family: "Jet Brains Mono Regular";
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
}

body {
    background-color: #dadada;
    margin-left: 20%;
    margin-right: 20%;
    padding: 20px;
}
